/* File: font.css */
@font-face {
    font-family: 'PTSansNarrow-Regular';
    src: local('PTSansNarrow-Regular'),
         url('../fonts/PTSansNarrow-Regular.ttf') format('ttf');
}
@font-face {
    font-family: 'PTSansNarrow-Bold';
    src: local('PTSansNarrow-Bold'),
         url('../fonts/PTSansNarrow-Bold.ttf') format('ttf');
}